* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #A6A9AB;
    color: #1e375a;
}
.ui.menu .item.selected {
    background-color: #77797A;
    color: white;
}

.ui.modal {
    top: 20%;    
}

.ui.table tr.positive {
   background:#cbf8bb!important
}
